@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.main{
    position: relative;
    height: 80vh;
    width: 100%;
    padding: 15px 50px;
    display: flex;
}
.first{
    width: 50%;
    display: flex;
}
.second{
    width: 50%;
}
.about img{
    padding-top: 5px;
}
.about p{
    margin-top: 20px;
    color: white;
    font-size: larger;
}
.coding{
    width: 90%;
    height: 60%;
}
.hi{
    color: white;
    font-size: 30px;
}
.suryanshoo{
    color: #D83E5B;
    font-size: 50px;
    letter-spacing: 1px;
    margin-left: 7px;
    font-family: 'Dancing Script', cursive;
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: 30px;
}
  
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}