.img{
    width: 60px;
    height: 60px;
    display: inline;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.list{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}